header{
  background-color: gray;
  border: 1ps solid gray;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  height: 100px;

}


.website-title{
  font-weight: bold;
  font-size: 20px;
  color: white;
}
.user-auth{
  font-weight: bold;
  font-size: 20px;
  color: red;
  margin-right: 10px;
}
