<h1>Welcome To Angular2 <span [style.color]="'red'">Event Binding
</span></h1>
<h1>{{ userName }}</h1>
<h1>{{ email }}</h1>
<div>
  <div *ngIf="!formStatus" [className]="'error'">
    please fill and verify all inputs
  </div>
  <div>
    <input type="text" name="name" id="" (change)="onNameChange($event.target.value)">
  </div>
  <div>
    <input type="text" name="email" id="" (keydown)="onEmailChange($event)">
  </div>
  <div>
    <input type="text" name="password" id="" (change)="onPasswordChange($event)">
  </div>
  <div>
    <input type="text" name="userName" id="" [(ngModel)]="userName" >
  </div>
  <div>

  </div>
  <div>
    <!-- <button (click)="onCreateForm()" [disabled]="isDisabled">Create</button> -->
    <app-button [label]="'Create'" [classes]="'bg-red'" (onClick)="onCreateForm()"  (onClick)="isDisabled" ></app-button>
  </div>
</div>
<div>
  <div [className]="'container'">
    <div>
      <img src="assets/code.png" alt="" width="300" [className]="saturate" [className]="grayscale">
      <div [style.padding-left]="'10px'">
        <h3>Title: <span>WWEDWDD</span></h3>
        <!-- <button (click)="saturateClick()">saturate</button> -->
        <app-button [label]="'saturate'"     [classes]="'bg-blue '" (onClick)="saturateClick()" ></app-button>
        <!-- <button (click)="grayscaleClick()">grayscale</button> -->
        <app-button [label]="'grayscale'"  [classes]="'bg-green '" (onClick)="grayscaleClick()" ></app-button>
      </div>
    </div>
  </div>
</div>
